#{extends 'main.html' /}
#{set title:'精弘下载' /}

<div class="container">

    <div class="index-left">

        <div class="left-classification">
            <ul class="nav nav-tabs nav-stacked">
                *{这里到时候用list遍历一个分类对象}*
                
                #{list items:classifications, as:'row'}
                    <li>
                        <a href=${'#'+row.id}>
                            ${row.second_level}
                            <i class="icon-chevron-right pull-right"></i>
                        </a>
                    </li>    
                #{/list}
                *{...}*
            </ul>
        </div>

        <div class="left-hot-resource">

            *{这个list，通过find把下载量大的筛选出来，用list遍历出来}*

            <ul class="nav nav-list">
                <li class="nav-header">
                <h4>
                热门资源</h4>
                </li>
                <li><a href="#">500本热门财经电子书</a></li>
                <li><a href="#">java(JRE7)</a></li>
            </ul>
            
        </div>
        
    </div>

    <div class="index-right">

		*{调用模版显示右侧的list}* 
		#{index_right softs:softs, reference:reference /}

		<div class="pagination">
			<ul>
			    #{if page != 1} 
			        <li><a href="/Application/index?page=${page-1}"> << </a></li>
			    #{/if}
			    
				#{list items:1..dividePage, as:'n'}
				    <li class= #{if n == page} "active" #{/if} ><a href="/Application/index?page=${n}">${n}</a></li>
				#{/list}
				
				#{if page != dividePage}
				    <li><a href="/Application/index?page=${page+1}"> >> </a></li>
				#{/if}
				
			</ul>
		</div>
		
	</div>
</div>