#{extends 'main.html' /}
#{set title:'精弘下载' /}

<link href="@{'/public/stylesheets/showDetail.css'}" rel="stylesheet">

<div class="container">

<div class="row-fluid" style="font-family:Microsoft YaHei"> 
    
    
        *{33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333}* 
        *{导航面包屑}*   
        <div id="div3">
            <div class="row-fluid">
                <ul class="breadcrumb">
                    <li style="font-size: 12px"><a href="#">首页</a> <span class="divider">/</span></li>
                    <li style="font-size: 12px"><a href="#">软件</a> <span class="divider">/</span></li>
                    <li style="font-size: 12px"><a href="#">多媒体类</a> <span class="divider">/</span></li>
                    <li class="active"  style="font-size: 12px">War3魔兽争霸</li>
                </ul>       
            </div>
        </div>
        *{33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333}* 


        <div id="div5">
        *{11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111}*
        <div id="div1">
            <div class="row-fluid">
                <ul class="thumbnails" >
                    <li class="row-fluid" style="margin-left:auto;margin-right:auto;">
                        <div class="span12" >
                            <a href="#" class="thumbnail">
                                <img src="/public/images/eva.jpg" alt="" class="img-rounded"/>
                                *{图片}*
                            </a>
                        </div>
                    </li>
                </ul>
                
                <ul class="thumbnails">
                  <li class="span12">
                    <div class="thumbnail">
                      <img src="/public/images/eva.jpg" alt="" class="img-rounded"/>
                      <h3 style="color:#000000">Thumbnail label</h3>
                    </div>
                  </li>
                </ul>       
                
            </div>
            
        </div>
        *{11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111}*
        
        
        
        
        *{22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222}*
        <div id="div2">

            *{软件名称}*
            <div class="row-fluid page-header">
                <h3 class="text-left" style="color:#000000;"><small>【多媒体类】</small><a href="">War3魔兽争霸</a></h3>
            </div>
            *{软件名称}*

            *{软件属性}*
            <div style="padding-top:20px;">
                <table class="table table-bordered table-striped table-hover" *{class="table table-bordered"}* style="color:#000000;">
                    <colgroup>
                        <col class="span1">
                        <col class="span7">
                    </colgroup>
                  <tbody>
                    <tr>
                      <th>发布日期</th>
                      <td width="70%">2013年7月1日</th>
                    </tr>
                    <tr>
                      <th>软件类型</td>
                      <td width="70%">多媒体类</td>
                    </tr>
                    <tr>
                      <th>文件大小</td>
                      <td width="70%">600MB</td>
                    </tr>
                    <tr>
                      <th>运行系统</td>
                      <td width="70%">Win7/Win8</td>
                    </tr>
                    <tr>
                      <th>软件语言</td>
                      <td width="70%">简体中文</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            *{软件属性}*

            *{下载，分享按钮}*
            <div class="row-fluid">
                <div class="btn-group" style="float:right">
                    <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" style="font-size:12px"><i class="icon-download-alt icon-white"></i> 下载地址</a>

                    
                    <button class="btn " style="font-size:12px"><i class="icon-share"></i> 分享</button>
                    <button class="btn dropdown-toggle " data-toggle="dropdown">
                        <span class="caret"></span>
                     </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li><a tabindex="-1" href="#">人人</a></li>
                          <li><a tabindex="-1" href="#">QQ空间</a></li>
                          <li><a tabindex="-1" href="#">here</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                </div>
            </div>
            *{下载，分享按钮}*
    
        </div>
        *{22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222}* 
        </div>
    
        *{444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444}*     
        <div id="div4">
            <div class="span12" style="padding-left:40px;padding-right:40px;padding-top:5px;padding-bottom:20px;">
                <div class="tabbable" style="margin-bottom: 18px;margin-top: 18px;"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">软件介绍</a></li>
                        <li><a href="#tab2" data-toggle="tab">用户评论</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                        <p>1.1 游戏特性
    　　《魔兽争霸Ⅲ》被证明是一款极其出色的电脑游戏，在其发行的两周内就卖出了550万套，其中有450万套是预定销售的。玩家可以选择在《魔兽争霸Ⅲ》中操控四个种族，其中两个在其前作《魔兽争霸Ⅱ》中就已出现，它们是人类(Human)和兽人(Orc)；另外两个是《魔兽争霸Ⅲ》新增的种族，它们是暗夜精灵(NightElf)和不死(Undead)。娜迦族(Naga)在制作时曾经设想作为第五个可操控的种族，在游戏测试的时候被删去，出现在单人任务模式和中立生物中，暴雪官方的解释是加上娜迦这一种族之后很难保证游戏的平衡性。
    
    1.2 即时战略
    　　《魔兽争霸Ⅲ》与暴雪公司早些时候发行的游戏《星际争霸》一样，是一款成功的即时战略游戏。游戏包含了大 　　多数即时战略游戏所具备的要素：采集资源，建设基地和指挥战斗。游戏的操作方式也与星际争霸类似，秉承了星际争霸易于上手的优点，并对星际争霸中一些繁琐的操作进行了简化。比如，在游戏中你可以选择将一些常用的魔法设定成“自动施放”的，在战斗中它们就被电脑自动施放出来从而省去了手动操作的过程。
    
     　　此外，游戏中四个种族的某些设定也能从《星际争霸》中找到类似的影子，如：暗夜精灵族就像《星际争霸》中的Terran一样可以移动自己的基地。类似于《星际争霸》中的Protoss，不死在造建筑物的时候农民可以离开建筑物（就像“召唤”建筑一样，而不是“建造”建筑）。同样与Protoss相似的是，不死亡灵族可以生产一个专门用来侦察的隐形单位。</p>
                        </div>
                        <div class="tab-pane" id="tab2">
                        <p> 
                        
                            *{分割线}*         
                            <div class="row-fluid span12" >
                                <ul class="nav nav-list" >
                                  <li class="divider"></li>
                                </ul>           
                            </div>
                            *{分割线}* 
                            
                            
                            
                                                    
                            *{一条回复内容}*      
                            <div class="comment" id=>
                            
                            </div>  
                                                
                                                
                            *{一条回复内容}*      
                            <div>
                            
                            </div>                                  
                                                
                                                
                            *{一条回复内容}*          
                            <div>
                            
                            </div>                              
                                                
                                                
                            *{一条回复内容}*          
                            <div>
                            
                            </div>                                              
                                            
                        
                            *{一条回复内容}*          
                            <div>
                            
                            </div>                              
                                        
                        
                            *{评论分页}*
                            <div class="pagination" style="float:right;">
                              <ul>
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                              </ul>
                            </div>                                  
                            *{评论分页}*
                                                                    
                            *{评论发表}*
                            <div class="row-fluid">
                                <div class="span12" >
                                    <form>
                                      <fieldset>
                                        <legend>发表评论</legend>
                                        <textarea rows="5"  placeholder="请输入评论…"></textarea>
                                        <span class="help-block">Example block-level help text here.</span>
                                        <button type="submit" class="btn">提交评论</button>
                                      </fieldset>
                                    </form>
                                </div>
                            *{评论发表}*    
                            



    
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            
            *{分割线}*         
            <div class="row-fluid span12" >
                <ul class="nav nav-list" >
                  <li class="divider"></li>
                </ul>           
            </div>
            *{分割线}*             

                
            </div>
            
            
        </div>
        *{444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444}*     
    
    
    
            *{下载链接块}*
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                    <h3 id="myModalLabel" style="color:#999">下载链接 页面</h3>
                  </div>
                  <div class="modal-body">
                    <img src="@{'/public/images/rartubiao.png'}" alt="" class="img-rounded" />
                    <h4 class="text-left" style="color:#000000;">War3魔兽争霸.rar<small>(600MB)</small></h4>                    
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-primary" href="#">立即下载</a>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                  </div>
                </div>
            *{下载链接块}*       
    
    
    
    
    
    </div>
    
</div>